@import 'antd/dist/antd.css';

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 302px;
    height: calc(100vh - 44px);
    background: var(--gray-light-color);

    padding: 30px 0px 0px 35px;
    margin-top: 44px;

    transition: all 0.5s ease-in-out;
}

.left-menu {
    list-style: none;
}


.left-menu li {
    line-height: 2;
    padding: 5px;
    margin-right: 5px;
}

.left-menu li:hover {
    background: #ffffff;
} 

.hiddenn {
    transform: translateX(-302px);
}

.extra-icon {
    margin-right: 7px;
}

.extra-icon:hover {
    color: var(--orange-color);
}

/* customs antd */
.ant-collapse-content-box {
    padding-right: 5px !important;
}
.ant-collapse-item {
    background: var(--gray-light-color);
}
.ant-collapse-header:hover {
    background: var(--gray-color);
}
.ant-collapse-header {
    padding: 10px 5px 10px 32px !important;
    font-weight: bold;
}

.ant-collapse-header > span {
    left: 5px !important;
    top: 15px !important;
}
/**/
/* modal */
.form-item {
    width: 100%;
    margin-bottom: 15px;
}

.form-item > p {
    margin-bottom: 5px;
    font-weight: 500;
}

.form-item > input {
    width: 100%;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
}
.form-item > input:hover {
    border: solid 1px var(--shadow-color);
}
.form-item > input:focus {
    border: solid 1px var(--shadow-color) !important;
    box-shadow: 0 0 3px var(--shadow-color) !important;
    outline: none;
}

/*list project/label */
.option-left-menu {
    font-weight: normal;
}

.option-left-menu > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
}
.option-left-menu > ul > li:hover {
    cursor: pointer;
    background: #ffffff;
}
.option-left-menu > ul > li > button {
    border: none;
    outline: none;
    background: var(--gray-light-color);
}

