.view-header {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
}

.view-header .view-header-content {
    min-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-header .view-header-content h1 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}
.view-header .view-header-actions button {
    border: none;
    outline: none;
    margin-left: 10px;
}

.view-add-task {
    width: 100%;
    border-top: 1px #f0f0f0 solid;
    padding-top: 10px;
}

.btn-add-task {
    background: #ffffff;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}

.btn-add-task:hover {
    cursor: pointer;
    color: var(--orange-color);
}

.icon-add {
    color: var(--orange-color);
    margin-right: 10px;
}

/* button */
.btn {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-weight: bold;
}

.btn-view {
    margin-right: 10px;
    border-radius: 5px;
}

.btn-actions {
    border: none;
    outline: none;
    margin-left: 10px;
}

.btn-add {
    color: #ffffff;
    border-radius: 5px;
    background: var(--orange-color);
}

/*-------------------------------------------------------*/

/* box - add */
.box-add-task {
    width: 100%;
    margin: 10px 0px;
}

.box-add-task .box-add-task-content {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: #f0f0f0 solid 1px;
}

.box-add-task .box-add-task-content input {
    width: 100%;
    margin-bottom: 12px;
    border: none;
    outline: none;
}

.box-add-task .box-add-task-content .add-task-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-add:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* text effect */
.item-container {
    width: 100%;
    height: 100%;
}

.text-disable {
    text-decoration: line-through;
    color: gray;
}

/* css for list task*/
.item {
    padding: 10px 0;
    border-bottom: #f0f0f0 solid 1px;
    display: flex;
}

.item:last-child {
    border-bottom: none;
}

.item:hover {
    cursor: pointer;
    background: #f0f0f0;
}
.li-item {
    width: 100%;
    margin-left: 10px;
}

.add-task-text {
    display: inline-block;
    width: 95%;
}

.add-task-text > input {
    width: 100%;
    margin-bottom: 12px;
    margin-left: 12px;
    border: none;
    outline: none;

    font-size: large;
}

.item-overview-footer {
    display: flex;
    justify-content: flex-end;
}

.tabs {
    width: 100%;
    padding: 10px 5px;
}

.tabs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tab-item {
    text-align: center;
    color: gray;
}

.tab-item:hover {
    cursor: pointer;
    color: black;
}

.selected {
    font-weight: bold;
    color: black;
    border-bottom: black 1px solid;
}

.tab-content {
    width: 100%;
    height: 75%;
    position: relative;
}

.item-header {
    width: 100%;
    height: 25%;
}

/* tab comment */
.comment-container {
    width: 100%;
    height: 100%;
}
.add-comment {
    width: 100%;
    border: #f0f0f0 1px solid;
    border-radius: 8px;
    padding: 10px;

    position: absolute;
    bottom: 0;
}

.add-comment > button {
    float: right;
}

.item-comment {
    display: flex;
    padding: 10px 5px;
}

.item-comment > span {
    margin: 5px;
}

.item-comment-detail {
    margin-left: 5px;
    width: 90%;
}

.item-comment-detail > h4 {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.item-comment-detail > span {
    display: inline-block;
    color: gray;
    font-size: 12px;
    margin-right: 10px;
}

.actions-comment {
    display: inline-block;
}

.actions-comment > button {
    margin-left: 0;
}